.underVideo {
    position: relative;
    width: 100%;
    height: 20px;
    padding: 10px;
}

.underVideo img {
    position: absolute;
    cursor: pointer;
}

.likeIcon {
    width: 20px;
    left: 15px;
    z-index: 1;
}

.thumbsUp {
    width: 24px;
    left: 30px;
    top: 8px;
}

.underVideo a {
    position: absolute;
    text-decoration: none;
    color: black;
    opacity: 0.6;
    top: 8px;
}

.underVideo a:hover {
    text-decoration: underline;
}

.count {
    left: 60px;
}

.comments {
    right: 110px;
}

.shares {
    right: 40px;
}

.buttons {
    padding: 5px 0;
    width: 100%;
}

.buttons div {
    opacity: 0.6;
    display: inline-block;
    background-color: transparent;
    width: 29%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 8px;
    cursor: pointer;

}

.buttons div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.buttons div img {
    margin-right: 10px;
    width: 20px;
}

.commentField {
    width: 100%;
    text-align: right;
}

.filter {
    cursor: pointer;
}

.filter span {
    margin-right: 15px;
}

.filter span i {
    font-size: 10px;
    margin-left: 3px;
}

.writeField {
    position: relative;
    text-align: left;
    width: 100%;
    height: 35px;
}

.writeField img {
    width: 22px;
}

#avatarImg {
    margin-left: 15px;
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
}

input {
    width: 85%;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.08);
    height: 35px;
    border-radius: 17px;
    border: none;
    font-size: 17px;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.avatarStiker,
.gif,
.emoji,
.stiker {
    right: 10px;
    position: absolute;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

.avatarStiker:hover,
.gif:hover,
.emoji:hover,
.stiker:hover {
    background-color: rgba(0, 0, 0, .05);
}

.avatarStiker {
    right: 120px;
}

.gif {
    right: 85px;
}

.emoji {
    right: 50px;
}

.stiker {
    right: 15px;
}